$tough-vault-blue: #17677c;
$tough-vault-hover: #ceedf6;
$tough-vault-disabled: #6b939e;

.table-wrapper {
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid black;
  width: 60%;
  margin: 0 auto;

  table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      border: 1px solid black;
      padding: 8px;

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }
    }

    th {
      height: 2em;
      font-size: 1.5em;
      cursor: pointer;
    }

    th.selected {
      cursor: default;
      color: white;
      background-color: $tough-vault-blue;
    }

    th:not(.selected):hover {
      background-color: $tough-vault-hover;
    }

    tr {
      &:first-child th {
        border-top: none;
      }

      &:last-child td {
        border-bottom: none;
      }
    }
  }
}

.tough-vault-button {
  background-color: $tough-vault-blue;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 35px 20px;
  cursor: pointer;
  font-size: 1.5em;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &:hover {
    background-color: $tough-vault-hover;
    color: black;
  }

  &:disabled {
    background-color: $tough-vault-disabled;
    color: white;
    border: none;
    box-shadow: none;
  }

  br {
    content: "";
    display: block;
    margin-top: 5px;
  }
}
