@import "src/assets/tough-vault-colors";

.table-container {
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid black;
  width: 50%;
  margin: 0 auto;

  table {
    border-collapse: collapse;
    width: 100%;

    th, td {
      border: 1px solid black;
      padding: 8px;
      position: relative;

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }
    }

    th {
      height: 2em;
      font-size: 1.5em;
      cursor: pointer;
    }

    th.selected {
      cursor: default;
      color: white;
      background-color: $tough-vault-blue;
    }

    th:not(.selected):hover {
      background-color: $tough-vault-hover;
    }

    tr {
      &:first-child th {
        border-top: none;
      }

      &:last-child td {
        border-bottom: none;
      }

      td {
        height: 3em;

        .repo-name {
          flex: 1;
          padding-left: 10px;
          font-size: 1.2em;
        }

        .protection-state {
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
        }

        .protection-state {
          padding: 8px;
          border-radius: 20px;
          color: black;
          font-weight: bold;
        }

        .protected {
          background-color: #d5e8d4;
          border: 2px solid #82b366;
        }

        .protecting {
          background-color: #dae8fc;
          border: 2px solid #6c8ebf;
        }

        .unprotected {
          background-color: #f8cecc;
          border: 2px solid #b85450;
        }

        .rescued {
          background-color: #e1d5e7;
          border: 2px solid #9673a6;
        }

        .partially-protected {
          background-color: #fff2cc;
          border: 2px solid #d6b656;
        }
      }

      .not-found-message {
        font-size: 1.3em;
        text-align: center;
        padding: 1em;
      }
    }
  }
}


.global-container {
  margin: 6em auto;

  .global-container-fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;

    .buttons-container {
      .tough-vault-button {
        background-color: $tough-vault-blue;
        color: white;
        border: 1px solid black;
        border-radius: 10px;
        padding: 35px 20px;
        cursor: pointer;
        font-size: 1.5em;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 0.4em;
        margin-top: 0.4em;
        width: 12em;

        &:hover {
          background-color: $tough-vault-hover;
          color: black;
        }

        &:disabled {
          background-color: $tough-vault-disabled;
          color: white;
          border: none;
          box-shadow: none;
        }
      }

      div {
        position: relative;

        .scan-info {
          position: absolute;
          width: 100%;
          top: 100%;
          left: 0;
          margin-top: 0.1em;

          p {
            margin-bottom: 0.2em;
          }
        }
      }
    }

    > *:not(:last-child) {
      margin-right: 3em;
    }
  }
}
