<div class="global-container">
  <div class="global-container-fields">
    <div class="buttons-container">
      <button (click)="protectAll()"
              [disabled]="!canProtectAll"
              class="tough-vault-button" mat-flat-button>
        Protect everything
      </button>
      <div>
        <button (click)="scanGHChanges()"
                [disabled]="!scanInfo?.scanAllowed"
                class="tough-vault-button" mat-flat-button>
          Scan for changes <br> on GitHub
        </button>
        <div class="scan-info">
          <p>Last scanned: {{ lastScannedDisplay }}</p>
          <p *ngIf="!scanInfo?.scanAllowed">Manual scan allowed in: {{ scanAllowedInDisplay }}</p>
        </div>
      </div>
    </div>
    <tghv-slider-setting [settingsField]="autoRepoField" description="Auto backup new repos"
                         endpoint="/auto-repo-update"/>
    <tghv-slider-setting [settingsField]="autoCommitField" description="Auto update backups with new commits"
                         endpoint="/auto-commit-update"/>
  </div>
</div>
<div class="table-container">
  <table>
    <tr>
      <th
        (click)="applyFilter(header)"
        *ngFor="let header of columnHeaders"
        [class.selected]="header === currentFilter"
        [ngStyle]="{ width: 100 / this.columnHeaders.length + '%' }"
      >
        {{ header }}
      </th>
    </tr>
    <tr *ngFor="let repo of filteredRepos | repoOrdering">
      <td [attr.colspan]="columnHeaders.length">
        <div class="repo-details">
          <div>
            <span *ngIf="(repo | protectionState) === 'Rescued'; else nonRescued"
                  class="repo-name">{{ repo.name }}</span>
            <ng-template #nonRescued>
              <a [href]="'https://github.com/' + repo.name" target="_blank">
                <span class="repo-name">{{ repo.name }}</span>
              </a>
            </ng-template>
            <span *ngIf="repo.isPrivate" class="lock" title="This repository is private."> 🔒</span>
          </div>
          <div [ngSwitch]="repo | protectionState" class="action-buttons">
            <button (click)="protect(repo)" *ngSwitchCase="'Unprotected'" class="action-button" mat-flat-button>
              Protect
            </button>
            <!-- TODO (optional feature) extract buttons to component to disable them for a few seconds after they have been clicked -->
            <button (click)="unprotect(repo)" *ngSwitchCase="'Protected'" class="action-button" mat-flat-button>
              Unprotect
            </button>
            <button (click)="unprotect(repo)" *ngSwitchCase="'Partially protected'" class="action-button"
                    mat-flat-button>
              Unprotect
            </button>
            <button (click)="protect(repo)" *ngSwitchCase="'Partially protected'" class="action-button" mat-flat-button>
              Update backup
            </button>
            <button (click)="delete(repo)" *ngSwitchCase="'Rescued'" class="action-button dangerous-button"
                    mat-flat-button>
              Delete forever
            </button> <!-- TODO add warning if user is sure -->
            <button (click)="restore(repo)" *ngSwitchCase="'Rescued'" class="action-button" mat-flat-button>
              Restore
            </button>
          </div>
          <span [ngClass]="{
          'protected': (repo | protectionState) === 'Protected',
          'processing': (repo | protectionState) === 'Protecting...' || (repo | protectionState) === 'Restoring...',
          'unprotected': (repo | protectionState) === 'Unprotected',
          'rescued': (repo | protectionState) === 'Rescued',
          'partially-protected': (repo | protectionState) === 'Partially protected'
        }" class="protection-state">{{ repo | protectionState }}</span>
        </div>
      </td>
    </tr>
    <tr *ngIf="filteredRepos.length === 0 && repos.length > 0">
      <td [attr.colspan]="columnHeaders.length" class="not-found-message">
        No repositories found with this filter
      </td>
    </tr>
    <tr *ngIf="repos.length === 0">
      <td [attr.colspan]="columnHeaders.length" class="not-found-message">
        No repositories found (yet 🤔?)
      </td>
    </tr>
  </table>
</div>
