<button (click)="protectAll()"
        [disabled]="!canProtectAll"
        class="tough-vault-button" mat-flat-button>
  Protect everything
</button>
<div>
  <button (click)="scanGHChanges()"
          [disabled]="!scanInfo?.scanAllowed"
          class="tough-vault-button" mat-flat-button>
    Scan for changes <br> on GitHub
  </button>
  <p>Last scanned: {{ lastScannedDisplay }}</p>
  <p *ngIf="!scanInfo?.scanAllowed">Manual scan allowed in: {{ scanAllowedInDisplay }}</p>
</div>
<div class="table-wrapper">
  <table>
    <tr>
      <th
        (click)="applyFilter(header)"
        *ngFor="let header of columnHeaders"
        [class.selected]="header === currentFilter"
        [ngStyle]="{ width: 100 / this.columnHeaders.length + '%' }"
      >
        {{ header }}
      </th>
    </tr>
    <tr *ngFor="let repo of filteredRepos">
      <td [attr.colspan]="columnHeaders.length">
        {{ repo.name }} {{ repo | protectionState }}
      </td>
    </tr>
  </table>
</div>
