mat-toolbar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 1em;
  padding-bottom: 2em;
  border-bottom: 1px solid black;
}

.logo {
  margin-top: 15px;
  width: 75px;
}

#logoutButton {
  width: 70px;
  height: 70px;
}

#logoutButton img {
  width: 100%;
  height: auto;
}

.logo, #logoutButton {
  flex: 0 0 auto;
}

header {
  flex-grow: 1;
  font-size: 2em;
  text-align: center;
}
