.content {
  padding: 20px;
  font-size: 16px;
}

.button {
  color: white;
  padding: 0 5px 0 5px;
}

.button:first-child {
  margin-right: 5px;
}

.yes-button {
  background-color: green;
}

.cancel-button {
  background-color: red;
}
