@import "src/assets/tough-vault-colors";

.success-snackbar {
  border-radius: 4px;
  background-color: $tough-vault-blue;
  --mdc-snackbar-container-color: $tough-vault-blue;

  button {
    color: white !important;
  }
}

.error-snackbar {
  border-radius: 4px;
  --mdc-snackbar-container-color: red;

  button {
    color: white !important;
  }
}
